*build*/*
*images*/*
*data*/*
*.json
*data*\*
*/*.pdf
*.exe
*.depend
*.layout
*.o
*.sln
*.db
*.ipch
*.cu
*.vcxproj
*.user
*.cache
*.obj
*.exp
*.ilk
*.pdb
*.tlog
*.log
*.lib
*.deps
solutions/vs2019/LungModel(Cuda)/.vs/LungModel(Cuda)/v16/.suo
