/data/*.*
*.pdf
*.o
*.layout
*.tlog
*.ilk
*.pdb
*.exe
*.exp
*.vcxproj
*.depend
*.sln
solutions/vs2019/LungModel(Cuda)/.vs/LungModel(Cuda)/v16/.suo
*.db
*.ipch
*.cu
*.user
*.cache
*.log
*.lib
*.deps
*.obj
data/modifyLung
data/primary_results
*.txt
data/primary_results_xi_0.1_grouped_compensated.txt
data/primary_results_xi_1.0_grouped_compensated.txt
data/modifyLung
